.main-container
  .main-body.pad-l-3.pad-r-3.mar-b-5.mar-t-3
    w-input(
      placeholder="Seleccionar filtro..."
      items="$ctrl.filters"
      ng-model="$ctrl.filterField"
      class="mar-r-3")
    w-input(
      placeholder="Buscar..."
      on-search="$ctrl.search()"
      ng-model="$ctrl.filterCriteria")
  .book-items.main-body
    book-item(book="book" ng-repeat="book in filteredBooks = ($ctrl.books | filter:$ctrl.filter)")
    p(ng-if="filteredBooks.length === 0") No se han encontrado resultados
