.w-input-container
  input.w-input(ng-if="!$ctrl.items"
    type="text"
    placeholder="{{$ctrl.placeholder}}"
    ng-model="$ctrl.inputValue"
    ng-keypress="$ctrl.onKeyPress($event)"
    ng-change="$ctrl.inputValueChanged()")
  button.w-input-button.fa.fa-search(ng-if="!$ctrl.items"
    ng-click="$ctrl.onSearch()")
  select.w-input.w-select(
    name="hello"
    ng-show="$ctrl.items"
    ng-options="item.value as item.display for item in $ctrl.items track by item.value"
    ng-model="$ctrl.selectValue"
    ng-change="$ctrl.selectValueChanged()"
    ng-class="{ 'w-input-placeholder': !$ctrl.selectValue }")
    option(value="")
      | {{$ctrl.placeholder}}
